@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root{
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);

    --Transparentwhite:hsla(0, 0%, 100%, 0.75);
    --Verylightgray: hsl(0, 0%, 95%); 
}

body{
   background-color: var(--Transparentwhite);
}

.container{
    padding: 2rem;
    /* border-radius: .5rem; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}

.cards{
    max-width: 1024px;
}


.card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.card h2{
    color: var(--Verylightgray);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: bold;
    
}



.btn{
    padding: 1rem;
    width: 50%;
    display: flex;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.card p{
    color:var(--Transparentwhite);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5rem;
    }




.card:nth-child(1){
    background-color: var(--Brightorange);
    
}



.card:nth-child(2){
    background-color: var(--Darkcyan);
}

.card:nth-child(3){
    background-color: var(--Verydarkcyan);
}




.card .btn:hover{
    background-color: transparent;
    color:var(--Transparentwhite);
    border:2px solid var(--Transparentwhite);
}

@media (min-width:800px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card:nth-child(3){
        grid-column: 1/-1;
    }
}



@media (min-width:1000px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card:nth-child(3){
        grid-column: 3/4;
    }
}